<template>
    <div class="container">
        <div class="p-4 pl-0 flex">
            <h1 class="text-3xl">
                App Users 
            </h1>
        </div>
        <create-user-modal @update-list="getUsers"></create-user-modal>
        <br>
        <div class="text-gray-900 bg-gray-200">
            <div class="px-3 py-4 flex justify-center">
                <table class="w-full text-md bg-white shadow-md rounded mb-4">
                    <tbody>
                        <tr class="border-b">
                            <th class="text-left p-3 px-5">Name</th>
                            <th class="text-left p-3 px-5">Email</th>
                            <th></th>
                        </tr>
                        <tr v-for="user in users" class="border-b hover:bg-orange-100">
                            <td class="p-3 px-5"><input disabled type="text" :value="user.name" class="bg-transparent"></td>
                            <td class="p-3 px-5"><input disabled type="text" :value="user.email" class="bg-transparent"></td>
                            <td class="p-3 px-5 flex justify-end">
                                <edit-user-modal :user="user" @refresh-list="getUsers"></edit-user-modal>
                                <change-password-modal :user="user"></change-password-modal>
                                <button @click="confirmDelete(user.id)" type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import CreateUserModal from '../Modals/CreateUser'
    import EditUserModal from '../Modals/EditUser'
    import ChangePasswordModal from '../Modals/ChangePassword'
    export default {
        components: {
            CreateUserModal,
            ChangePasswordModal,
            EditUserModal
        },
        data() {
            return {
                users: []
            }
        },
        methods: {
            async getUsers() {
                const response = await axios.get(`/users-list`)
                this.users = response.data
            },
            confirmDelete(id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "User will be deleted",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteUser(id)
                    }
                }) 
            },
            async deleteUser(id) {
                const response = await axios.delete(`/user/${id}`)
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Product Deleted',
                    showConfirmButton: false,
                    timer: 800
                })
                this.getUsers();
            }
        },
        created() {
            this.getUsers();
        }
    }
</script>