<template>
    <div class="container">
        <div class="p-4 pl-0 flex">
            <h1 class="text-3xl">
                Reports
            </h1>
        </div>
        <div class="flex">
            <div class="w-1/4">
                <div>
                    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-username">
                        Sort by:
                    </label>
                    <div class="relative">
                        <select v-model="sortBy" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                            <option value="today">Today</option>
                            <option value="pick-date">Pick Date</option>
                            <option value="pick-month">Pick Month</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-2/4 ml-2">
                <div v-show="sortBy == 'pick-date'">
                    <div>
                        <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-username">
                            Date
                        </label>
                    </div>
                    <div class="flex w-full">
                        <input v-model="form.date" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mr-2" id="inline-username" type="date" placeholder="******************">
                    </div>
                </div>
                <div v-show="sortBy == 'pick-month'">
                    <div>
                        <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-username">
                            Month
                        </label>
                    </div>
                    <div class="flex w-full">
                        <input v-model="form.month" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mr-2" id="inline-username" type="month" placeholder="******************">
                    </div>
                </div>
            </div>
            <div class="w-1/4 text-right">
                <button @click="getReport" class="px-6 py-3 uppercase bg-gray-700 font-bold text-white text-sm ">Sort</button>
                <button @click="print" class="px-6 py-3 uppercase bg-gray-700 font-bold text-white text-sm ">Print</button>
            </div>
        </div>
        <div>
            <div class="text-center text-3xl font-bold my-5 text-gray-800">
                <p v-show="sortBy == 'today'">Today</p>
                <p v-show="sortBy == 'pick-date'">Report of {{ form.date }}</p>
                <p v-show="sortBy == 'pick-month'">{{ renderMonth() }} Report</p>
            </div>
            <table v-if="sortBy == 'pick-month'" class="w-full text-md bg-white shadow-md rounded mb-4">
                <tbody>
                    <tr class="border-b">
                        <th class="text-left p-3 px-1">Date</th>
                        <th class="text-left p-3 px-1">Clients</th>
                        <th class="text-left p-3 px-1">Total</th>
                        <th class="text-left p-3 px-1">Total Discount</th>
                        <th class="text-left p-3 px-1">Total Paid</th>
                    </tr>
                    <tr v-for="order in reportsMonth" class="border-b hover:bg-orange-100">
                        <td class="p-3 px-1"><input disabled type="text" :value="order.day" class="bg-transparent"></td>
                        <td class="p-3 px-1"><input disabled type="text" :value="order.client" class="bg-transparent"></td>
                        <td class="p-3 px-1"><input disabled type="text" :value="`₱ ${order.total}`" class="bg-transparent"></td>
                        <td class="p-3 px-1"><input disabled type="text" :value="`₱ ${order.discount}`" class="bg-transparent"></td>
                        <td class="p-3 px-1"><input disabled type="text" :value="`₱ ${order.total - order.discount}`" class="bg-transparent"></td>
                    </tr>
                </tbody>
            </table>
            <table v-else class="w-full text-md bg-white shadow-md rounded mb-4">
                <tbody>
                    <tr class="border-b">
                        <th class="text-left p-3 px-1">Dr No.</th>
                        <th class="text-left p-3 px-1">Delivered To</th>
                        <th class="text-left p-3 px-1">Total</th>
                        <th class="text-left p-3 px-1">Discount</th>
                        <th class="text-left p-3 px-1">Paid</th>
                    </tr>
                    <tr v-for="order in reports" class="border-b hover:bg-orange-100">
                        <td class="p-3 px-1"><input disabled type="text" :value="order.dr_number" class="bg-transparent"></td>
                        <td class="p-3 px-1"><input disabled type="text" :value="order.deliver_to" class="bg-transparent"></td>
                        <td class="p-3 px-1"><input disabled type="text" :value="`₱ ${order.total}`" class="bg-transparent"></td>
                        <td class="p-3 px-1"><input disabled type="text" :value="`₱ ${order.discount}`" class="bg-transparent"></td>
                        <td class="p-3 px-1"><input disabled type="text" :value="renderPaid(order)" class="bg-transparent"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import { VueTailwindDatepicker } from '@coding-wisely/vue-tailwind-datepicker'
    export default {
        data() {
            return {
                form: {
                    date:'',
                    month:''
                },
                month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                reports: [],
                reportsMonth: [],
                sortBy: 'today'
            }
        },
        methods: {
            async getReport() {
                const response = await axios.put(`/reports/${this.sortBy}`, this.form)
                if(this.sortBy == 'pick-month') {
                    this.reportsMonth = response.data
                } else {
                    this.reports = response.data.data
                }
            },
            print() {
                if(this.sortBy == 'pick-month') {
                     window.open(`reports-print/${this.sortBy}/${this.form.month}`);
                }
                if(this.sortBy == 'pick-date') {
                     window.open(`reports-print/${this.sortBy}/${this.form.date}`);
                } else {
                    window.open(`reports-print/${this.sortBy}/none`);
                }
            },
            renderPaid(order) {
                var paid = order.total - order.discount
                paid = paid.toFixed(2);
                return `₱ ${paid}`
            },
            renderMonth() {
                const month = this.form.month.split('-');
                return this.month[month[1]-1]
            }
        },
        created() {

        }
    }
</script>