<template>
    <div class="container">
        <div class="p-4 pl-0 flex">
            <h1 class="text-3xl">
                Products
            </h1>
        </div>
        <div class="flex content-center">
            <create-product-modal :categories="categories" :units="units" @update-list="getProducts" class="mb-3 mt-auto"></create-product-modal>
            <div class="ml-auto">
                <div class="lg:flex flex-col">
                    <div class="flex flex-wrap -mx-3 mb-2">
                        <div class="w-full px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                Search Product
                            </label>
                            <input v-model="search" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="text-gray-900 bg-gray-200">
            <div class="px-3 py-4 flex justify-center">
                <table class="w-full text-md bg-white shadow-md rounded mb-4">
                    <tbody>
                        <tr class="border-b">
                            <th class="text-left p-3 px-5">Name</th>
                            <th class="text-left p-3 px-5">Category</th>
                            <th class="text-left p-3 px-5">Price</th>
                            <th class="text-left p-3 px-5">Quantity</th>
                            <th></th>
                        </tr>
                        <tr v-for="product in products" class="border-b hover:bg-orange-100">
                            <td class="p-3 px-5"><input disabled type="text" :value="product.name" class="bg-transparent"></td>
                            <td class="p-3 px-5"><input disabled type="text" :value="product.category_name" class="bg-transparent"></td>
                            <td class="p-3 px-5"><input disabled type="text" :value="renderPrice(product)" class="bg-transparent"></td>
                            <td v-if="product.quantity > 10" class="p-3 px-5"><input disabled type="text" :value="product.quantity" class="bg-transparent ml-2"></td>
                            <td v-else class="p-3 px-5"><input disabled type="text" :value="product.quantity" class="bg-transparent text-red-500 ml-2"></td>
                            <td class="p-3 px-5 flex justify-end">
                                <button @click="addProduct(product.id)" type="button" style="width: 90px" class="mr-3 text-sm bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">In Product</button>
                                <edit-product-modal :categories="categories" :units="units" :product="product.id" @update-product="updateProduct"></edit-product-modal>
                                <button @click="confirmDelete(product.id)" type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <paginate v-show="!isFiltered"
                :page-count="pageCount"
                :click-handler="getProducts"
                :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                :container-class="'pagination'"
                class="flex justify-end"
                prev-class="text-sm mr-2 bg-gray-700 hover:bg-gray-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                next-class="text-sm ml-2 bg-gray-700 hover:bg-gray-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"  
                page-link-class="text-sm mt-10 mx-2 hover:bg-gray-700 text-bg-gray-800 py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                active-class="text-sm bg-gray-700 hover:bg-gray-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                >
            </paginate>
        </div>
    </div>
</template>

<script>
    import CreateProductModal from '../Modals/CreateProduct'
    import EditProductModal from '../Modals/EditProduct'
    export default {
        components: {
            CreateProductModal,
            EditProductModal
        },
        data() {
            return {
                pageCount: 1,
                page: 1,
                categories: [],
                units: [],
                products: [],
                search: '',
                isFiltered: false
            }
        },
        watch: {
            search: _.debounce(function(newVal){
                if(newVal == '') {
                    this.getProducts()
                } else {
                    this.searchProduct()
                }
            }, 200)
        },
        methods: {
            renderPrice(product) {
                return `₱ ${product.price}${ product.unit_name ? '/' : ''}${product.unit_name}`
            },
            async getCategories() {
                const response = await axios.get(`/categories-selection`)
                this.categories = response.data.data
            },
            async getUnits() {
                const response = await axios.get(`/units-selection`)
                this.units = response.data.data
            },
            async searchProduct() {
                this.isFiltered = true
                const response = await axios.post(`/product-list`, {search: this.search})
                this.products = response.data.data
            },
            async getProducts(page = 1) {
                this.isFiltered = false
                const response = await axios.get(`/product-list?page=${page}`)
                this.products = response.data.data;
                this.pageCount = response.data.meta.last_page;
            },
            confirmDelete(id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Product will be deleted",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteProduct(id)
                    }
                }) 
            },
            async deleteProduct(id) {
                const response = await axios.delete(`/product/${id}`)
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Product Deleted',
                    showConfirmButton: false,
                    timer: 800
                })
                this.getProducts();
            },
            async updateProduct(form) {
                const response = await axios.put(`/product/${form.id}`, form)
                var index = await this.products.map(x => {
                    return x.id;
                }).indexOf(form.id);
                this.products[index].name = response.data.data.name
                this.products[index].price = response.data.data.price
                this.products[index].unit_name = response.data.data.unit_name
                this.products[index].category_name = response.data.data.category_name
                this.products[index].quantity = response.data.data.quantity
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Product Updated',
                    showConfirmButton: false,
                    timer: 800
                })
            },
            addProduct(id) {
                Swal.fire({
                    title: 'Input product quantity to add',
                    input: 'number',
                    showCancelButton: true,
                    confirmButtonText: 'Add',
                    showLoaderOnConfirm: true,
                    preConfirm: async (quantity) => {
                        const response = await axios.put(`/in-stock/${id}`, {quantity: quantity})
                        if(response.data == "success") {
                            var index = this.products.map(x => {
                                return x.id;
                            }).indexOf(id);
                            this.products[index].quantity = parseInt(this.products[index].quantity) + parseInt(quantity)
                        }
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                    }).then((result) => {
                        if (result.value) {
                            Swal.fire({
                            title: `Succesfully Added`
                        })
                    }
                })
            }
        },
        created() {
            this.getCategories();
            this.getProducts();
            this.getUnits();
        },
        mounted() {
            // Swal.fire({
            //     title: 'Are you sure?',
            //     text: "Message will be deleted to all chat member",
            //     showCancelButton: true,
            //     confirmButtonColor: '#3085d6',
            //     cancelButtonColor: '#d33',
            //     confirmButtonText: 'Yes, delete it!'
            // }).then((result) => {
            //     if (result.value) {
            //         return
            //     }
            // })
        }
    }
</script>
