<template>
    <div class="container">
        <div class="p-4 pl-0 flex">
            <h1 class="text-3xl">
                Delivery
            </h1>
        </div>
        <div class="flex content-center">
            <create-order-modal @update-list="getOrders"></create-order-modal>
            <div class="ml-auto">
                <div class="lg:flex flex-col">
                    <div class="flex flex-wrap -mx-3 mb-2">
                        <div class="w-full px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                Search Order
                            </label>
                            <input v-model="search" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="text-gray-900 bg-gray-200">
            <div class="px-3 py-4 flex justify-center">
                <table class="w-full text-md bg-white shadow-md rounded mb-4">
                    <tbody>
                        <tr class="border-b">
                            <th class="text-left p-3 px-1">Dr No.</th>
                            <th class="text-left p-3 px-1">Delivered To</th>
                            <th class="text-left p-3 px-1">Total</th>
                            <th class="text-left p-3 px-1">Discount</th>
                            <th class="text-left p-3 px-1">Paid</th>
                            <th></th>
                        </tr>
                        <tr v-for="order in orders" class="border-b hover:bg-orange-100">
                            <td class="p-3 px-1"><input disabled type="text" :value="order.dr_number" class="bg-transparent"></td>
                            <td class="p-3 px-1"><input disabled type="text" :value="order.deliver_to" class="bg-transparent"></td>
                            <td class="p-3 px-1"><input disabled type="text" :value="`₱ ${order.total}`" class="bg-transparent"></td>
                            <td class="p-3 px-1"><input disabled type="text" :value="`₱ ${order.discount}`" class="bg-transparent"></td>
                            <td class="p-3 px-1"><input disabled type="text" :value="renderPaid(order)" class="bg-transparent"></td>
                            <td class="p-3 px-1 flex justify-end">
                                <button @click="print(order.id)" type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Print</button>
                                <order-table-modal :order="order"></order-table-modal>
                                <edit-order-modal @update-list="getOrders" :orderId="order.id" @update-order-list="getOrders"></edit-order-modal>
                                <button @click="confirmDelete(order.id)" type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
             <paginate v-show="!isFiltered"
                :page-count="pageCount"
                :click-handler="getOrders"
                :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                :container-class="'pagination'"
                class="flex justify-end"
                prev-class="text-sm mr-2 bg-gray-700 hover:bg-gray-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                next-class="text-sm ml-2 bg-gray-700 hover:bg-gray-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"  
                page-link-class="text-sm mt-10 mx-2 hover:bg-gray-700 text-bg-gray-800 py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                active-class="text-sm bg-gray-700 hover:bg-gray-800 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                >
            </paginate>
        </div>
    </div>
</template>

<script>
import CreateOrderModal from '../Modals/CreateOrder'
import OrderTableModal from '../Modals/OrderTable'
import EditOrderModal from '../Modals/EditOrder'
    export default {
        components: {
            CreateOrderModal,
            OrderTableModal,
            EditOrderModal
        },
        data() {
            return {
                pageCount: 1,
                page: 1,
                orders: [],
                search: '',
                isFiltered: false
            }
        },
        watch: {
            search: _.debounce(function(newVal){
                if(newVal == '') {
                    this.getOrders()
                } else {
                    this.searchOrder()
                }
            }, 200)
        },
        methods: {
            print(id) {
                window.open(`/reciept/${id}`);
            },
            renderPaid(order) {
                var paid = order.total - order.discount
                paid = paid.toFixed(2);
                return `₱ ${paid}`
            },
            async searchOrder() {
                this.isFiltered = true
                const response = await axios.post(`/order-list`, {search: this.search})
                this.orders = response.data.data
            },
            async getOrders(page = 1) {
                this.isFiltered = false
                const response = await axios.get(`/order-list?page=${page}`)
                console.log(response);
                this.orders = response.data.data
                this.pageCount = response.data.last_page;
            },
            confirmDelete(id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Delivery Reciept will be deleted",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteOrder(id)
                    }
                }) 
            },
            async deleteOrder(id) {
                const response = await axios.delete(`/order/${id}`)
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Product Deleted',
                    showConfirmButton: false,
                    timer: 800
                })
                this.getOrders();
            },
        },
        created() {
            this.getOrders()
        },
        mounted() {

        }
    }
</script>
