<template>
    <div class="container">
        <div class="p-4 pl-0 flex">
            <h1 class="text-3xl">
                Activity Log
            </h1>
        </div>
        <button @click="clearLog()" style="width: 140px" class="mr-3 text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Clear Logs</button>
        <br>
        <br>
        <div class="text-gray-900 bg-gray-200">
            <div class="px-3 py-4 flex justify-center" style="overflow: scroll">
                <table class="w-full text-md bg-white shadow-md rounded mb-4">
                    <tbody>
                        <tr class="border-b">
                            <th class="text-left p-3 px-5"></th>
                            <th class="text-left p-3 px-5">User</th>
                            <th class="text-left p-3 px-5">Description</th>
                            <th class="text-left p-3 px-5">Values</th>
                            <th class="text-left p-3 px-5">Date & Time</th>
                        </tr>
                        <tr v-for="log in logs" class="border-b hover:bg-orange-100">
                            <td></td>
                            <td>{{log.user.name}}</td>
                            <td>{{log.description}}</td>
                            <td>{{JSON.stringify(log.properties)}}</td>
                            <td>{{log.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: [],
                logs: [],
            }
        },
        methods: {
            async getLogs() {
                const response = await axios.get(`/logs`)
                this.logs = response.data.data
            },
            async clearLog() {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Clear Logs!'
                }).then((result) => {
                if (result.value) {
                    axios.get(`/logs-clear`)
                    Swal.fire(
                    'Cleared!',
                    'Your file has been deleted.',
                    'success'
                    )
                }
                })
            }
        },
        created() {
            this.getLogs()
        }
    }
</script>