<template>
    <div class="container">
        <div class="p-4 pl-0">
            <h1 class="text-xl">
                Product Category
            </h1>
            <br>
            <form @submit.prevent="isEdit ? update() : create()">
                <div class="flex">
                    <div class="w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                            Name
                        </label>
                        <input v-model="form.name" 
                            class="appearance-none block w-full bg-gray-400 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
                            type="text">
                    </div>
                    <div class="w-1/2 text-center">
                        <button :disabled="renderDisabled()" type="submit" class="bg-gray-700 hover:bg-gray-500 text-white p-2">{{isEdit ? 'Update' : 'Create'}} Category</button>
                        <a v-show="isEdit" @click="clearForm()" class="bg-red-700 hover:bg-red-500 text-white p-2 cursor-pointer">Cancel Edit</a>
                    </div>
                </div>
            </form>
            <div class="px-3 py-4 flex justify-center">
                <table class="w-full text-md bg-white shadow-md rounded mb-4">
                    <tbody>
                        <tr class="border-b">
                            <th class="text-left p-3 px-5">Saved Categories</th>
                        </tr>
                        <tr @click="setCategory(category)" v-for="category in categories" class="border-b hover:bg-gray-200">
                            <td class="p-3 px-5"><input disabled type="text" :value="category.name" class="bg-transparent"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</template>

<script>
    export default {
        data() {
            return {
                categories: [],
                form:{
                    id: 0,
                    name: ''
                },
                isEdit: false,
                disableSubmit: false
            }
        },
        methods: {
            renderDisabled() {
                if(this.form.name == '' || this.disableSubmit) {
                    return true
                } else {
                    return false
                }  
            },
            clearForm() {
                this.form.id = 0
                this.form.name = ''
                this.isEdit = false
            },
            async create() {
                this.disableSubmit = true
                const response = await axios.post(`/category`, this.form)
                this.clearForm()
                this.disableSubmit = false
                this.getCategories()
            },
            async update() {
                this.disableSubmit = true
                const response = await axios.put(`/category/${this.form.id}`, this.form)
                this.clearForm()
                this.disableSubmit = false
                this.getCategories()
            },
            async getCategories() {
                const response = await axios.get(`/categories-selection`)
                this.categories = response.data.data
            },
            setCategory(category) {
                this.form.id = category.id
                this.form.name = category.name
                this.isEdit = true
            }
        },
        created() {
            this.getCategories()
        }
    }
</script>