<template>
    <div class="container">
        <div class="p-4 pl-0">
            <h1 class="text-xl">
                Change Password
            </h1>
        </div>
        <br>
        <form @submit.prevent="submit">
            <slot>
                <div class="lg:flex flex-col">
                    <div class="flex flex-wrap -mx-3 mb-2">
                        <div class="w-full px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                password
                            </label>
                            <input minlength="6" v-model="form.password" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password">
                        </div>
                    </div>
                </div>
                <div class="lg:flex flex-col">
                    <div class="flex flex-wrap -mx-3 mb-2">
                        <div class="w-full px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                re-type password
                            </label>
                            <input minlength="6" v-model="form.matchPassword" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password">
                        </div>
                    </div>
                </div>
                <label v-show="form.password != form.matchPassword" class="block uppercase tracking-wide text-red-500 text-xs font-bold mb-2">
                    password not matched!
                </label>
            </slot>
            <div class="text-right mt-4">
                <button :disabled="submitting || form.password != form.matchPassword" type="submit" class="bg-gray-700 text-white p-2">Change Password</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: [],
                form: {
                    password: '',
                    matchPassword: '',
                },
                submitting: false,
            }
        },
        methods: {
            async submit () {
                try {
                    this.submitting = true
                    const response = await axios.put(`/change-password/${this.app.current_user.id}`, this.form)
                    .then(response => {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Password Changed',
                            showConfirmButton: false,
                            timer: 800
                        })
                        this.form.password = ''
                        this.form.matchPassword = ''
                    })
                } catch (error) {
                    console.log(error)
                } finally {
                    this.submitting = false
                }
            },
        },
        created() {

        }
    }
</script>