<template>
    <div class="container">
        <div class="p-4 pl-0 flex">
            <h1 class="text-3xl">
                Utilities 
            </h1>
        </div>
        <div class="p-8">
            <ul class="list-reset flex border-b">
                <li v-if="currentTab == 'category'" class="-mb-px mr-1">
                    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-gray-800 font-semibold" href="#">Product Category</a>
                </li>
                <li v-else @click="currentTab = 'category'" class="mr-1">
                    <a class="bg-white inline-block py-2 px-4 text-gray-500 hover:text-gray-600 font-semibold" href="#">Product Category</a>
                </li>
                <li v-if="currentTab == 'unit'" class="-mb-px mr-1">
                    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-gray-800 font-semibold" href="#">Product Unit</a>
                </li>
                <li v-else @click="currentTab = 'unit'" class="mr-1">
                    <a class="bg-white inline-block py-2 px-4 text-gray-500 hover:text-gray-600 font-semibold" href="#">Product Unit</a>
                </li>
                <li v-if="currentTab == 'change-password'" class="-mb-px mr-1">
                    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-gray-800 font-semibold" href="#">User Change password</a>
                </li>
                <li v-else @click="currentTab = 'change-password'" class="mr-1">
                    <a class="bg-white inline-block py-2 px-4 text-gray-500 hover:text-gray-600 font-semibold" href="#">User Change password</a>
                </li>
            </ul>
            <div class="pt-5">
                <category v-show="currentTab == 'category'"></category>
            </div>
            <div class="pt-5">
                <unit v-show="currentTab == 'unit'"></unit>
            </div>
            <div class="pt-5">
                <change-password v-show="currentTab == 'change-password'"></change-password>
            </div>
        </div>
    </div>
</template>

<script>
    import Category from './Category'
    import Unit from './Unit'
    import ChangePassword from './ChangePassword'
    export default {
        components: {
            Category,
            Unit,
            ChangePassword
        },
        data() {
            return {
                currentTab: 'category'
            }
        },
        methods: {

        },
        created() {

        }
    }
</script>