<template>
    <div>
        <button @click="showModal" style="width: 140px" class="mr-3 text-sm bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Change Password</button>
        <div :class="`change-password-modal-${user.id} fixed opacity-0 pointer-events-none top-0 left-0 w-full h-full flex items-center justify-center`" :style="{ zIndex: 900, background: 'rgba(19, 19, 19, 0.66)' }">
            <div @click="closeModal" class="absolute w-full h-full bg-gray-900 opacity-50 "></div>

            <div class="bg-white px-4 py-5 rounded z-50 overflow-y-auto mx-4" :style="{ maxWidth: '500px', minWidth: '450px' }">
                <div class="flex justify-between items-center pb-3">
                    <h4 class="text-xl mb-4 font-semibold">Change Password</h4>
                    <div @click="closeModal" class="cursor-pointer mb-4 z-50">
                        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                        </svg>
                    </div>
                </div>
                <form @submit.prevent="submit">
                    <slot>
                        <div class="lg:flex flex-col">
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                        password
                                    </label>
                                    <input minlength="6" v-model="form.password" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password">
                                </div>
                            </div>
                        </div>
                        <div class="lg:flex flex-col">
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                        re-type password
                                    </label>
                                    <input minlength="6" v-model="form.matchPassword" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password">
                                </div>
                            </div>
                        </div>
                        <label v-show="form.password != form.matchPassword" class="block uppercase tracking-wide text-red-500 text-xs font-bold mb-2">
                            password not matched!
                        </label>
                    </slot>
                    <div class="text-right mt-4">
                        <button type="button" @click="closeModal" class="btn mr-3">Cancel</button>
                        <button :disabled="submitting || form.password != form.matchPassword" type="submit" class="bg-gray-700 text-white p-2">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        user: {
            type: Object,
            default: {},
        },
    },
    data () {
        return {
            form: {
                password: '',
                matchPassword: '',
            },
            submitting: false,
        }
    },
    methods: {
        async submit () {
            try {
                this.submitting = true
                const response = await axios.put(`/change-password/${this.user.id}`, this.form)
                .then(response => {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Password Changed',
                        showConfirmButton: false,
                        timer: 800
                    })
                    this.closeModal()
                })
            } catch (error) {
                console.log(error)
            } finally {
                this.submitting = false
            }
        },
        showModal () {
            this.toggleModal();
        },
        closeModal () {
            this.form.password = ''
            this.form.matchPassword = ''
            this.toggleModal();
        },
        toggleModal () {
            const body = document.querySelector('body')
            const modal = document.querySelector(`.change-password-modal-${this.user.id}`)
            modal.classList.toggle('opacity-0')
            modal.classList.toggle('pointer-events-none')
            body.classList.toggle('modal-active')
        }
        
    },
    
}
</script>

<style>
.modal {
    transition: opacity 0.25s ease;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}
</style>