<template>
    <div>
        <button @click="showModal" class="px-6 py-3 uppercase bg-gray-700 font-bold text-white text-sm ">Add Delivery</button>
        <div :class="`create-order-modal fixed opacity-0 pointer-events-none top-0 left-0 w-full h-full flex items-center justify-center`" :style="{ zIndex: 910, background: 'rgba(19, 19, 19, 0.66)' }">
            <div @click="closeModal" class="absolute w-full h-full bg-gray-900 opacity-50 "></div>

            <div class="bg-white px-4 py-5 rounded z-50 overflow-y-auto mx-4" :style="{ maxWidth: '900px', minWidth: '1200px', maxHeight: '600px', minHeight: '600px'}">
                <div class="flex justify-between items-center pb-3">
                    <h4 class="text-xl mb-4 font-semibold">Delivery Reciept</h4>
                    <div @click="closeModal" class="cursor-pointer mb-4 z-50">
                        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                        </svg>
                    </div>
                </div>

                <form @submit.prevent="submit">
                    <slot>
                        <div class="flex">
                            <div class="w-3/4 flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3 mr-3">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                        Deliver To:
                                    </label>
                                    <input v-model="form.deliver_to" class="appearance-none block w-full bg-gray-400 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" required>
                                </div>
                            </div>
                            <div class="w-1/4 flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                        Delivery Reciept No.
                                    </label>
                                    <input v-model="form.dr_number" class="appearance-none block w-full bg-gray-400 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="w-1/3 relative">
                                <h4 class="mb-4 font-semibold">Add Orders</h4>
                                <div class="absolute border rounded bg-blue-500 mx-3" style="z-index: 3000; top: 100px; width: 80%">
                                    <div @mouseover="selected(product)" v-show="showProducts" v-for="product in filteredProduct">
                                        <div class="text-gray-800 bg-gray-200 hover:bg-gray-800 hover:text-gray-200 cursor-pointer font-bold0 p-1 font-semibold">
                                            <span>{{ product.name }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-wrap mb-2 mr-2">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                            Product
                                        </label>
                                        <input v-model="productForm.name" 
                                            class="appearance-none block w-full bg-gray-400 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
                                            type="text"
                                            @keydown="handleKey"
                                            @focus="showProducts = true"
                                            @blur="onBlur()">
                                    </div>
                                </div>
                                <div class="flex flex-wrap mb-4 mr-2">
                                    <div class="w-1/2 px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                            Price
                                        </label>
                                        <p class="font-bold text-gray-700">
                                            ₱ {{ productForm.price }}
                                        </p>
                                    </div>
                                    <div class="w-1/2 px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                            Stock
                                        </label>
                                        <p class="font-bold text-gray-700">
                                            {{ productForm.stock - pcs }}
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="flex flex-wrap mt-1 mb-2 mr-2">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                            Pcs
                                        </label>
                                        <input v-model="pcs" class="appearance-none block w-full bg-gray-400 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number">
                                        <label v-show="insufficientStock" class="block uppercase tracking-wide text-red-500 text-xs mb-2">
                                            *Insufficient Stock*
                                        </label>
                                    </div>
                                </div>
                                <button :disabled="disableAddProduct()" @click="addProductToTable()" class="bg-gray-700 text-white p-2 cursor-pointer">Add Product</button>
                            </div>
                            <div class="w-2/3">
                                <div class="w-full">
                                    <table class="table-auto text-gray-700 w-full">
                                        <thead>
                                            <tr>
                                                <th class="bg-gray-400 px-4 py-2">Product(price)</th>
                                                <th class="bg-gray-400 px-3 py-2 text-left">Pcs.</th>
                                                <th class="bg-gray-400 px-4 py-2"></th>
                                                <th class="bg-gray-400 px-4 py-2"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="w-full" style="max-height:300px; min-height:300px; overflow: scroll;">
                                    <table class="table-auto text-gray-700 w-full">
                                        <tbody>
                                            <tr class="hover:bg-gray-300" v-for="product in form.products">
                                                <td class="border px-4 py-2 text-center cursor-pointer" style="width: 414px;">{{ `${product.name}(₱ ${product.price})` }}</td>
                                                <td class="border px-4 py-2 text-center">{{ product.pcs }}</td>
                                                <td class="border px-4 py-2 text-center">₱ {{ renderTotal(product) }}</td>
                                                <td class="border px-4 py-2 text-center">
                                                    <a @click="editItem(product)" class="bg-green-300 hover:bg-green-400 text-gray-800 font-bold py-1 px-1 rounded inline-flex items-center">
                                                        <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                                            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                                            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                                        </svg>
                                                    </a>
                                                    <a @click="deleteItem(product.id)" class="bg-red-300 hover:bg-red-400 text-gray-800 font-bold py-1 px-1 rounded inline-flex items-center">
                                                        <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                                            <polyline points="3 6 5 6 21 6"></polyline>
                                                            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                            <line x1="10" y1="11" x2="10" y2="17"></line>
                                                            <line x1="14" y1="11" x2="14" y2="17"></line>
                                                        </svg>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="w-1/2">
                                <div class="flex flex-wrap mx-3 mb-2">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                            Discount
                                        </label>
                                        <div class="relative">
                                            <div class="absolute" style="top: 12px; left: 10px">
                                                <span class="text-gray-700 font-bold text-xl">₱</span>
                                            </div>
                                            <input :disabled="productTotal == 0" v-model="form.discount" class="pl-8 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-1/2">
                                <div class="flex flex-wrap mx-3 mb-2">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                            Total
                                        </label>
                                        <div class="relative">
                                            <div class="absolute" style="top: 12px; left: 10px">
                                                <span class="text-gray-700 font-bold text-xl">₱</span>
                                            </div>
                                            <input :value="productTotal - form.discount" disabled class="pl-8 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                            <label v-show="form.discount > 0" class="block uppercase tracking-wide text-red-500 text-xs mb-2" style='height: 10px'>
                                                Undiscounted Total: {{ productTotal }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slot>
                    <div class="text-right mt-4">
                        <button type="button" @click="closeModal" class="btn mr-3">Cancel</button>
                        <button :disabled="disableSubmit" type="submit" class="bg-gray-700 text-white p-5">Save Delivery Reciept</button>
                        <div class="mt-1">
                            <label class="inline-flex items-center">
                                <input v-model="print" type="checkbox" class="form-checkbox">
                                <span class="ml-2">Save and Print</span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
    },

    data () {
        return {
            productForm: {
                id:'',
                name:'',
                stock:0,
                price:0
            },
            pcs: 0,
            form: {
                dr_number: '',
                deliver_to: '',
                products:[],
                discount: 0,
                total: 0
            },
            products: [],
            searchInput: '',
            submitting: false,
            showProducts: false,
            insufficientStock: false,
            isEdit: false,
            itemToDelete: 0,
            submitting: false,
            print: false
        }
    },
    watch: {
        pcs: function(val) {
            if(val > this.productForm.stock) {
                this.productForm.pcs = 0
                this.insufficientStock = true
            } else {
                this.insufficientStock = false
            }
        }
    },
    computed: {
        filteredProduct() {
            return this.products.filter(product => {
                return product.name.toLowerCase().includes(this.searchInput.toLowerCase())
            })
        },
        productTotal() {
            var total = 0;
            this.form.products.forEach(product => {
                total = total + (product.price * product.pcs)
            });

            this.form.total = total
            return total;
        },
        disableSubmit() {
            if(this.submitting || this.form.products.length == 0) {
                return true
            } else {
                return false
            }
        }
    },
    methods: {
        renderTotal(product) {
            var total = product.pcs*product.price
            return total.toFixed(2);
        },
        async submit () {
            const response = await axios.post(`/order`, this.form)
            console.log(response.data.id);
            if(this.print) {
                window.open(`/reciept/${response.data.id}`);
            }
            this.form.dr_number = ''
            this.form.deliver_to = ''
            this.form.products = []
            this.form.total = 0
            this.form.discount = 0
            this.toggleModal();
            this.$emit('update-list')
        },
        async editItem(product) {
            const response = await axios.get(`/product/${product.id}`)
            this.productForm.stock = response.data.data.quantity - product.pcs;
            this.productForm.id = product.id
            this.pcs = product.pcs
            this.productForm.name = product.name
            this.productForm.price = product.price
            this.isEdit = true
            this.itemToDelete = product.id
            this.onBlur()
        },
        deleteItem(id) {
            var index = this.form.products.map(x => {
                return x.id;
            }).indexOf(id);

            this.form.products.splice(index, 1);
            if(id == this.productForm.id) {
                this.onBlur()
            }
        },
        disableAddProduct() {
            if(this.productForm.id == '' || this.pcs == 0 || this.productForm.name == '') {
                return true
            }
            return this.insufficientStock;
        },
        addProductToTable() {
            if(this.isEdit) {
                this.deleteItem(this.itemToDelete);
                this.isEdit = false
            }
            var index = this.form.products.map(x => {
                return x.id;
            }).indexOf(this.productForm.id);

            if(index != -1) {
                this.form.products[index].pcs = parseInt(this.form.products[index].pcs) + parseInt(this.pcs);
            } else {
                const product = {
                    id: this.productForm.id,
                    name: this.productForm.name,
                    price: this.productForm.price,
                    pcs: this.pcs,
                }

                this.form.products.push(product)
            }

            this.clearProductForm()
        },
        clearProductForm() {
            this.productForm.id = ''
            this.productForm.name = ''
            this.productForm.price = 0
            this.productForm.stock = 0
            this.pcs = 0
        },
        async onBlur() {
            var minus = 0;
            this.showProducts = false;
            const response = await axios.get(`/product/${this.productForm.id}`)
            var index = this.form.products.map(x => {
                return x.id;
            }).indexOf(response.data.data.id);
            
            if(index != -1) {
                minus = parseInt(this.form.products[index].pcs);
            }

            this.productForm.stock = response.data.data.quantity - minus;
            this.productForm.price = response.data.data.price
            Object.keys(this.form.products).forEach(key => {
                let val = this.form.products[key]
                if(val.id == this.productForm.id) {
                    this.productForm.stock = this.productForm.stock + parseInt(val.pcs)
                    this.pcs = val.pcs
                }
            }) 
        },
        handleKey(e) {
            this.searchInput = this.productForm.name
        },
        showModal () {
            this.toggleModal();
            this.getProducts();
        },
        closeModal () {
            this.toggleModal();
        },
        toggleModal () {
            const body = document.querySelector('body')
            const modal = document.querySelector(`.create-order-modal`)
            modal.classList.toggle('opacity-0')
            modal.classList.toggle('pointer-events-none')
            body.classList.toggle('modal-active')
        },
        async getProducts() {
            const response = await axios.get(`/product-list/select`)
            this.products = response.data.data
            this.hasProducts = true;
        },
        selected(product) {
            this.productForm.id = product.id
            this.productForm.name = product.name
        }
    },
    
}
</script>

<style>
.modal {
    transition: opacity 0.25s ease;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}
</style>