<template>
    <div>
        <button @click="showModal" class="px-6 py-3 uppercase bg-gray-700 font-bold text-white text-sm ">Create Product</button>
        <div :class="`create-product-modal fixed opacity-0 pointer-events-none top-0 left-0 w-full h-full flex items-center justify-center`" :style="{ zIndex: 2000, background: 'rgba(19, 19, 19, 0.66)' }">
            <div @click="closeModal" class="absolute w-full h-full bg-gray-900 opacity-50 "></div>

            <div class="bg-white px-4 py-5 rounded z-50 overflow-y-auto mx-4" :style="{ maxWidth: '500px', minWidth: '450px' }">
                <div class="flex justify-between items-center pb-3">
                    <h4 v-if="edit == false" class="text-xl mb-4 font-semibold">{{ modalTitle }}</h4>
                    <h4 v-else class="text-xl mb-4 font-semibold">Create Product</h4>
                    <div @click="closeModal" class="cursor-pointer mb-4 z-50">
                        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                        </svg>
                    </div>
                </div>
                <form @submit.prevent="submit">
                    <slot>
                        <div class="lg:flex flex-col">
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                        name
                                    </label>
                                    <input v-model="form.name" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="lg:flex flex-col">
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                        Description
                                    </label>
                                    <textarea style="resize: none" v-model="form.description" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="lg:flex flex-col">
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                        Category
                                    </label>
                                    <select style="resize: none" v-model="form.category" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text">
                                        <option value="">None</option>
                                        <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="lg:flex flex-col">
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                        Product Unit
                                    </label>
                                    <select style="resize: none" v-model="form.unit" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text">
                                        <option value="">None</option>
                                        <option v-for="unit in units" :value="unit.id">{{ unit.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="lg:flex flex-col">
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                        Price per unit
                                    </label>
                                    <div class="relative">
                                        <div class="absolute" style="top: 12px; left: 10px">
                                            <span class="text-gray-700 font-bold text-xl">₱</span>
                                        </div>
                                        <input v-model="form.price" class="pl-8 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lg:flex flex-col">
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                        Quantity
                                    </label>
                                    <input v-model="form.quantity" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number">
                                </div>
                            </div>
                        </div>
                    </slot>
                    <div class="text-right mt-4">
                        <button type="button" @click="closeModal" class="btn mr-3">Cancel</button>
                        <button :disabled="submitting || form.title == ''" type="submit" class="bg-gray-700 text-white p-2">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        categories: {
            type: Array,
            default: {},
        },
        units: {
            type: Array,
            default: {},
        },
        edit: '',
    },

    data () {
        return {
            form: {
                Name: '',
                description:'',
                category: '',
                unit:'',
                price: '',
                quantity: '',
            },
            submitting: false,
        }
    },
    methods: {
        async submit () {
            try {
                this.submitting = true
                const response = await axios.post(`/product`, this.form)
                .then(response => {
                    this.closeModal()
                    this.$emit('update-list')
                })
            } catch (error) {
                console.log(error)
            } finally {
                this.submitting = false
            }
        },
        showModal () {
            this.toggleModal();
        },
        closeModal () {
            this.form.name = ''
            this.form.description = ''
            this.form.category = ''
            this.form.price = ''
            this.form.quantity = ''
            this.toggleModal();
        },
        toggleModal () {
            const body = document.querySelector('body')
            const modal = document.querySelector(`.create-product-modal`)
            modal.classList.toggle('opacity-0')
            modal.classList.toggle('pointer-events-none')
            body.classList.toggle('modal-active')
        }
        
    },
    
}
</script>

<style>
.modal {
    transition: opacity 0.25s ease;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}
</style>