<template>
    <div>
        <button @click="showModal" style="width: 90px" class="mr-3 text-sm bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">View Items</button>
        <div :class="`order-table-modal-${order.id} fixed opacity-0 pointer-events-none top-0 left-0 w-full h-full flex items-center justify-center`" :style="{ zIndex: 900, background: 'rgba(19, 19, 19, 0.66)' }">
            <div @click="closeModal" class="absolute w-full h-full bg-gray-900 opacity-50 "></div>

            <div class="bg-white px-4 py-5 rounded z-50 overflow-y-auto mx-4" :style="{ maxWidth: '1200px', minWidth: '1200px', maxHeight: '600px', minHeight: '600px'}">
                <div class="flex justify-between items-center pb-3">
                    <h4 class="text-xl mb-4 font-semibold">{{ order.dr_number }}</h4>
                    <div @click="closeModal" class="cursor-pointer mb-4 z-50">
                        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                        </svg>
                    </div>
                </div>

                <div class="flex">
                    <div class="w-1/3 relative">
                        <div class="absolute border rounded bg-blue-500 mx-3" style="z-index: 901; top: 70px; width: 80%">
                            <div @mouseover="selected(product)" v-show="showProducts" v-for="product in filteredProduct">
                                <div class="text-gray-800 bg-gray-200 hover:bg-gray-800 hover:text-gray-200 cursor-pointer font-bold0 p-1 font-semibold">
                                    <span>{{ product.name }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap mb-2 mr-2">
                            <div class="w-full px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                    Product
                                </label>
                                <input v-model="productForm.name" 
                                    class="appearance-none block w-full bg-gray-400 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
                                    type="text"
                                    @keydown="handleKey"
                                    @focus="showProducts = true"
                                    @blur="onBlur()">
                            </div>
                        </div>
                        <div class="flex flex-wrap mb-4 mr-2">
                            <div class="w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                    Price
                                </label>
                                <p class="font-bold text-gray-700">
                                    ₱ {{ productForm.price }}
                                </p>
                            </div>
                            <div class="w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                    Stock
                                </label>
                                <p class="font-bold text-gray-700">
                                    {{ productForm.stock - pcs }}
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="flex flex-wrap mt-1 mb-2 mr-2">
                            <div class="w-full px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                    Pcs
                                </label>
                                <input v-model="pcs" class="appearance-none block w-full bg-gray-400 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number">
                                <label v-show="insufficientStock" class="block uppercase tracking-wide text-red-500 text-xs mb-2">
                                    *Insufficient Stock*
                                </label>
                            </div>
                        </div>
                        <button :disabled="disableAddProduct()" @click="addProductToTable()" class="bg-gray-700 text-white p-2">Add Product</button>
                    </div>
                    <div class="w-2/3">
                        <div class="w-full">
                            <table class="table-auto text-gray-700 w-full">
                                <thead>
                                    <tr>
                                        <th class="bg-gray-400 px-4 py-2">Product(price)</th>
                                        <th class="bg-gray-400 px-3 py-2 text-left">Pcs.</th>
                                        <th class="bg-gray-400 px-4 py-2"></th>
                                        <th class="bg-gray-400 px-4 py-2"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="w-full" style="max-height:300px; min-height:300px; overflow: scroll;">
                            <table class="table-auto text-gray-700 w-full">
                                <tbody>
                                    <tr class="hover:bg-gray-300" v-for="product in items">
                                        <td class="border px-4 py-2 text-center cursor-pointer" style="width: 414px;">{{ `${product.name}(₱ ${product.price})` }}</td>
                                        <td class="border px-4 py-2 text-center">{{ product.quantity }}</td>
                                        <td class="border px-4 py-2 text-center">₱ {{ renderTotal(product) }}</td>
                                        <td class="border px-4 py-2 text-center">
                                            <button @click="editItem(product)" class="bg-green-300 hover:bg-green-400 text-gray-800 font-bold py-1 px-1 rounded inline-flex items-center">
                                                <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                                </svg>
                                            </button>
                                            <button @click="deleteItem(product)" class="bg-red-300 hover:bg-red-400 text-gray-800 font-bold py-1 px-1 rounded inline-flex items-center">
                                                <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        order: {
            type: Object,
            default: {},
        },
    },
    data () {
        return {
            productForm: {
                id:'',
                name:'',
                stock:0,
                price:0,
                pcs:0
            },
            products: [],
            items: [],
            pcs: 0,
            searchInput:'',
            insufficientStock: false,
            hasProducts: false,
            showProducts: false,
            isEdit: false,
            itemToDelete: 0,
            edited: false,
            toggle: false,
        }
    },
    watch: {
        pcs: function(val) {
            if(val > this.productForm.stock) {
                this.productForm.pcs = 0
                this.insufficientStock = true
            } else {
                this.productForm.pcs = val;
                this.insufficientStock = false
            }
        }
    },
    computed: {
        filteredProduct() {
            return this.products.filter(product => {
                return product.name.toLowerCase().includes(this.searchInput.toLowerCase())
            })
        },
    },
    methods: {
        async deleteItem(product) {
            const response = await axios.put(`/item-delete/${product.id}`, {price: product.quantity*product.price})
            this.edited = true;
            this.getItems();
        },
        renderTotal(product) {
            var total = product.quantity*product.price
            return total.toFixed(2);
        },
        disableAddProduct() {
            if(this.productForm.id == '' || this.productForm.name == '') {
                return true
            }
            return this.insufficientStock;
        },
        editItem(product) {
            this.productForm.id = product.product_id
            this.productForm.name = product.name
            this.onBlur()
        },
        async getItems() {
            this.items = [];
            const response = await axios.get(`/order-items/${this.order.id}`)
            response.data.data.forEach(item => {
                const product = {
                    id: item.id,
                    name: item.name,
                    order_id: item.order_id,
                    price: item.price,
                    product_id: item.product_id,
                    quantity: item.quantity
                }

                this.items.push(product);
            });
        },
        async getProducts() {
            const response = await axios.get(`/product-list/select`)
            this.products = response.data.data
            this.hasProducts = true;
        },
        handleKey(e) {
            this.searchInput = this.productForm.name
        },
        showModal () {
            this.toggleModal();
            this.getProducts();
            this.getItems();
        },
        closeModal () {
            this.toggleModal();
        },
        toggleModal () {
            if(this.toggle) {
                if(this.edited) {
                    this.$emit('update-order-list')
                    this.edited = !this.edited;
                }
            } else {
                this.toggle = !this.toggle
            }
            const body = document.querySelector('body')
            const modal = document.querySelector(`.order-table-modal-${this.order.id}`)
            modal.classList.toggle('opacity-0')
            modal.classList.toggle('pointer-events-none')
            body.classList.toggle('modal-active')
        },
        selected(product) {
            this.productForm.id = product.id
            this.productForm.name = product.name
        },
        async onBlur() {
            var minus = 0;
            this.showProducts = false;
            const response = await axios.get(`/product/${this.productForm.id}`)

            this.productForm.stock = response.data.data.quantity;
            this.productForm.price = response.data.data.price;
            this.pcs = 0
            Object.keys(this.items).forEach(key => {
                let val = this.items[key]
                if(val.product_id == this.productForm.id) {
                    this.productForm.stock = this.productForm.stock + val.quantity
                    this.pcs = val.quantity
                }
            })     
        },
        async addProductToTable() {
            const total = this.productForm.stock - this.productForm.pcs
            if(total < 10) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'info',
                    title: `${this.productForm.name} has only ${total} left`,
                    showConfirmButton: false,
                    timer: 1300
                })
            }
            const response = await axios.put(`/item/${this.order.id}`, this.productForm)
            this.getItems();
            this.clearProductForm()
            this.edited = true;
        },
        clearProductForm() {
            this.productForm.id = ''
            this.productForm.name = ''
            this.productForm.price = 0
            this.productForm.stock = 0
            this.pcs = 0
            this.isPresent = false
        },
    },
    
}
</script>

<style>
.modal {
    transition: opacity 0.25s ease;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}
</style>